a {
   color: #091133;
}

#page_1_image {
    background-image: url("images/designer_1.png");
    height: 1000px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

#second-background {
    background-image: url("images/2.png");
    height: 500px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon {
    background-image: url("images/icon2.png");
    height: 40px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

#third-background {
    background-image: url("images/3.png");
    height: 500px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

#fourth-background {
    background-image: url("images/4.png");
    height: 500px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

#fifth-background {
    background-image: url("images/5.png");
    height: 500px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

#sixth-background {
    background-image: url("images/6.png");
    height: 500px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.section {
    padding: 200px;
}

.section-image {
    padding-top: 100px;
}

.page_1_info {
    padding-top: 200px;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #091133 !important;
}

.btn-sm {
    border-color: #091133;
}

.btn-outline-primary:hover {
    background-color: #091133 !important;
    color: white !important;
}

.btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary:visited  {
    border-color: #091133 !important;
    color: #091133 !important;
}
.price-info {
    width: 500px;
    margin: 200px;
    text-align: center
}

.price-bckg {
    background-image: url("images/Rectangle.png");
    background-position: inherit;
}

.title-card {
    max-width: 250px;
    padding: 0;
}

.title-card2 {
    max-width: 350px;
    padding: 0;
}